/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

#carouselFitzhi {
  border: 1px solid black;
}

.carousel-item {
  height: 500px !important;
}

div.slide-fitzhi {
  background-color: lightgrey;
  padding: 10px;
}


span.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
  margin-left: 30px;
}

span.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}
