/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

:root {
  --color-selected: #28a745; 
  --color-error: darkred;
}

span.logo-big {
  font-size: 100px;
}

span.logo-small {
  font-size: 20px;
}

.gradient {
  text-align: center;
  background: -webkit-linear-gradient(var(--color-selected), var(--color-error));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.title-big {
  animation: pulse 20s;
  color: var(--color-selected);
  font-size: 40px;
}

@keyframes pulse {
  0% {
    color:var(--color-error);
    font-size: 39px;
  }
  100% {
    color: var(--color-selected);
    font-size: 40px;
  }
}

#install {
  top: 50px;
  bottom: 10;
}

div.my-footer {
  position: fixed;
  bottom: 0;
  background-color: whitesmoke;
  height: 30px;
  width: 100%;
}

table.my-footer {
  margin-left: 10px;
  margin-right: 10px;
}
